///////////////////////////////////////////////////////////////////////////////////////////////////
// By importing the custom bootstrap variables into modules, all bootstrap variables, functions  //
// and mixins are available to the modules.                                                      //
///////////////////////////////////////////////////////////////////////////////////////////////////
@import '../../global-styles/custom-bootstrap-variables';

.browserNotSupported {
  display: none;
  &.active {
    display: block;
    background: #0a0a0a;
    color: #00d4ddb3;
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    padding: 2rem;
    z-index: 4;
    overflow: auto;

    @include media-breakpoint-up(lg) {
      padding: 6rem;
    }

    h1 {
      color: $light;
    }
  }
}
